.vs/

# .NET build output
bin/
obj/
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.lib
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet packages
*.nupkg
*.snupkg
.nuget/
packages/
**/packages/*
!**/packages/build/

# Publish output
publish/
**/publish/

# MSBuild
*.log
*.binlog
*.png